@import url('https://fonts.googleapis.com/css2?family=Medula+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 1em;
    background: linear-gradient(253deg, #0cc898, #1797d2, #864fe1);
    background-size: 300% 300%;
    -webkit-animation: Background 25s ease infinite;
    -moz-animation: Background 25s ease infinite;
    animation: Background 25s ease infinite;
  }

  @-webkit-keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  @-moz-keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  @keyframes Background {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }

  .full-screen {
    position: auto;
    top: 0;
    right: 0;
    left: 0;
    background: url(https://i.imgur.com/wCG2csZ.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: auto;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    /* works with row or column */

    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
  }

  h1 {
    color: #fff;
    font-family: 'Medula One', cursive;
    font-weight: 800;
    font-size: 8em;
    letter-spacing: 5px;
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .6);
    margin-top: 0px;
    margin-bottom: 45px;
  }

  h1:after {
    display: block;
    color: #fff;
    letter-spacing: 1px;
    font-family: 'Roboto', sans-serif;
    content: 'A healthy body for a healthy mind';
    font-size: .3em;
    text-align: center;
  }

  h2 {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2em;
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .3);
  }

img {
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.container {
    display: flex;
    width: 100%;
    padding: 1% 2%;
    box-sizing: border-box;
    max-height: 50%;
    color: #fff;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .3);
}

span {
    opacity: 0.8;
}

.box {
    max-width: 30%;
    flex: 1;
    overflow: hidden;
    transition: .5s;
    margin: 0 2%;
    box-shadow: 0 20px 30px rgba(0,0,0,.1);
    line-height: 0;
}

.box > img {
    width: 100%;
    height: calc(100% - 10vh);
    object-fit: cover;
    transition: .5s;
}

.box > span {
    font-size: 3.8vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
}

.box:hover { flex: 1 1 50%; }
.box:hover > img {
    width: 100%;
    height: 100%;
}

a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-shadow: 1px 2px 1px rgba(0, 0, 0, .3);
}

a:hover {
    color: #a3ffd3;
}
